<div class="container">
  <div class="row col-10 offset-1 col-md-6 offset-md-3">
    <div class="col-12">
      <h4 class="text-center font-weight-bolder mt-3">EDIT YOUR INFORMATIONS</h4>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "need-form mt-3" }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: "EMAIL ADDRESS", required: true, autofocus: true %>
          <%= f.input :first_name, label: "FIRST NAME" %>
          <%= f.input :last_name, label: "LAST NAME" %>
          <%= f.input :password,
                      label: "PASSWORD",
                      hint: "LEAVE IT BLANK IF YOU DON'T WANT TO CHANGE IT",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :flat_number, label: "FLAT NUMBER" %>
          <%= f.input :password_confirmation,
                      label: "CONFIRM PASSWORD",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      label: "CURRENT PASSWORD",
                      hint: "WE NEED YOUR CURRENT PASSWORD TO CONFIRM YOUR CHANGES",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :complex, label: "COMPLEX NAME", collection: [ "Amarelle", "Maraschino", "Rainier", "Santina" ], default: "Amarelle" %>
          <%= f.input :photo, label: "PHOTO", as: :file %>
        </div>

        <div class="submit-line mt-2" data-controller="form">
          <%= f.button :submit, "UPDATE", data: { target: "form.submitLink" }, class: "p-0" %>
          <span class="fas fa-arrow-right" data-action="click->form#clickSubmit"></span>
        </div>
      <% end %>

      <h3>DELETE MY ACCOUNT</h3>

      <p>UNHAPPY? <%= link_to "CANCEL MY ACCOUNT", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "BACK", :back %>
    </div>
  </div>
</div>
