<%= render "show_top" %>
<% if current_user == @owner %>
  <p>HERE IS YOUR DESCRIPTION:</p>
  <p class="font-weight-normal text-muted"><em><%= @need.note %></em></p>
  <p>AWAITING SOMEONE TO HELP YOU</p>
<% else %>
  <p><%= @need.user.first_name.upcase %> NEEDS YOUR HELP!</p>
  <p>HERE IS A LITTLE DESCRIPTION:</p>
  <p class="font-weight-normal text-muted"><em><%= @need.note %></em></p>
  <p>REMAINING TIME: <%= distance_of_time_in_words(DateTime.now, @need.end_time).upcase %><p>
  <p>IF YOU THINK YOU CAN HELP, CLICK ON THE ICON BELOW</p>
  <%= render "services/form" %>
<% end %>


