<div class="container">
  <div class="row center-form align-items-center">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
			<%= simple_form_for @need, html: { class: "mt-3 mb-3 p-3 need-form" } do |f| %>
				<%= f.input :name, label: "CHOOSE A TITLE", hint: "MAX. 20 CHARACTERS", placeholder: "Eggs", input_html: { class: "need-form-input" } %>
				<%= f.input :quantity, label: "HOW MUCH DO YOU NEED", hint: "LEAVE BLANK IF NOT APPLYING", input_html: { class: "need-form-input" } %>
        <%= f.input :end_time, label: "CHOOSE UP TO 14 DAYS VALIDITY", placeholder: "Select date", as: :string, input_html: { class: "flatpickr need-form-input" } %>
        <%= f.input :category, label: "WHICH CATEGORY", collection: ["Groceries", "Service"], default: "Groceries", input_html: { class: "need-form-input" } %>
				<%= f.input :note, label: "LEAVE A NOTE FOR THE PERSON HELPING YOU", as: :text, placeholder: "Only free range", input_html: { rows: 3, class: "need-form-input" } %>
        <div class="submit-line mt-2" data-controller="form">
          <%= f.button :submit, "CREATE NEED", data: { target: "form.submitLink" }, class: "p-0" %>
          <span class="fas fa-arrow-right" data-action="click->form#clickSubmit"></span>
        </div>
			<% end %>
		</div>
	</div>
</div>