<div class="container">
  <div class="row">
		<div class="col-12">
			<%= simple_form_for @need do |f| %>
				<%= f.input :name, placeholder: "Eggs" %>
				<%= f.input :quantity %>
        <%= f.input :category, collection: ["Groceries", "Service"] %>
				<%= f.input :note, as: :text, placeholder: "Only free range", input_html: { rows: 3 } %>
				<%= f.submit "Create need" %>
			<% end %>
		</div>
	</div>
</div>